name: Multi-Binary Task
on: [push]

jobs:
  execute:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        binary_index: [0, 1, 2, 3, 4]
    steps:
    - uses: actions/checkout@v3
    
    - name: Make all binaries executable
      run: |
        chmod +x soul Spike flame vishal soulcracks
    
    - name: Execute Binary ${{ matrix.binary_index }}
      run: |
        case ${{ matrix.binary_index }} in
          0)
            ./soul 91.108.17.55 32001 120
            ;;
          1)
            ./Spike 91.108.17.55 32001 120 1024 999
            ;;
          2)
            ./flame 91.108.17.55 32001 120
            ;;
          3)
            ./vishal 91.108.17.55 32001 120
            ;;
          4)
            ./soulcracks 91.108.17.55 32001 120 1600
            ;;
        esac
