name: Multi-Binary Task
on: [push]

jobs:
  execute:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        binary_index: [0, 1, 2, 3, 4]
    steps:
    - uses: actions/checkout@v3
    
    - name: Make all binaries executable
      run: |
        chmod +x soul Spike mrx vishal soulcracks
    
    - name: Execute Binary ${{ matrix.binary_index }}
      run: |
        case ${{ matrix.binary_index }} in
          0)
            ./soul 4.247.148.41 21759 30
            ;;
          1)
            ./Spike 4.247.148.41 21759 30 1024 999
            ;;
          2)
            ./mrx 4.247.148.41 21759 30 50 150
            ;;
          3)
            ./vishal 4.247.148.41 21759 30
            ;;
          4)
            ./soulcracks 4.247.148.41 21759 30 1600
            ;;
        esac
